.mycontact {
  min-height: 90vh;
  width: 100%;
  background: #ffffff;
  margin-bottom: 50px;
}

.mycontact *{
  /* border: 1px dashed red; */
}

.mycontact .container {
  padding-top: 70px;
  height: 100%;
}

.mycontact h1 {
  font-weight: bold;
}
.mycontact .card-title {
  font-weight: bold;
  color: gray;
}
.mycontact p {
  color: gray;
}
.mycontact .card-deck {
  margin: 10px auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
  flex-wrap: wrap;
}

.mycontact .myinfo {
  background-color: #626ccc;
  border-radius: 10px;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0 auto;
  width: 75%;
}

.mycontact .card {
  width: 30%;
  height: 300px;
  box-shadow: 0 2px 5px #d3d3d3;
}



@media (width < 1000px) {
  .mycontact .card-deck {
    flex-direction: column;
  }

  .mycontact .card {
    width: 80%;
  }

  .pricing-header{
    margin-top: 50px;
  }
  
}
